.panes {
  display: flex;
  width: 100%;
  height: calc(100vh - 42px);
  overflow: hidden;
}

.panes.horizontal {
  flex-direction: row;
}

.pane {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 80px;
  overflow: hidden;
  border-right: 1px solid #ccc;
  padding: 0;
}

.pane > h3 {
  flex: 0 0 auto;
  background: #eee;
  padding: 4px 8px;
  margin: 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pane > h3 .controls {
  display: flex;
  gap: 0.75em;
}

.pane-inner {
  overflow: auto;
  height: 100%;
  padding: 0 0.5em;
}

.splitter {
  background: #ccc;
  z-index: 10;
}

.splitter.vertical {
  width: 6px;
  cursor: col-resize;
}

.panes.vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panes.vertical > .pane {
  flex: 1;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

.splitter.horizontal {
  height: 6px;
  cursor: row-resize;
  background: #ccc;
}

.pane:last-child {
  border-right: none;
}

@media (max-width: 900px) {
  .pane {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}
