.unsupported-macro {
  background-color: lightgrey;
}

.vertical-spacer {
  line-height: 1;
  height: 1em;
}

.underline {
  text-decoration: underline;
}

.threepart-title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: baseline;
}
.threepart-title.part1 { justify-self: start; }
.threepart-title.part2 { justify-self: center; text-align: center; }
.threepart-title.part3 { justify-self: end; }

.TH {
}
.TH .TH-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #404040;
}
.TH .section {
  color: gray;
  font-weight: normal;
  margin-left: 0.5rem;
}
.TH .manual {
  font-style: italic;
  text-align: right;
}
.TH .TH-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #404040;
}
.TH .source {
  font-style: italic;
}
.TH .date, .Dd {
  font-variant-numeric: oldstyle-nums slashed-zero;
}

.sixth-space, .twelfth-space {
  display: inline-block;
  height: 0;
  vertical-align: baseline;
}
.sixth-space {
  width: 0.1667em;
}
.twelfth-space {
  width: 0.0833em;
}

.Bd, .Bl {
  display: block;
  margin-top: 6pt;
}
.Bd-centered {
  text-align: center;
}
.Bd-filled {
  text-align: justify;
}
.Bd-literal {
  white-space: pre;
  font-family: monospace;
}
.Bd-unfilled {
  white-space: pre;
}
.Bd-ragged {
  text-align: left;
  /* TODO remove hard line breaks to reflow */
}
.offset-indent {
	margin-left: 6em;
}
.offset-indent-two {
	margin-left: 12em;
}
.offset-left {
}
.offset-right {
  text-align: right;
}
.offset-center {
  margin-left: auto;
  margin-right: auto;
}
.compact {
  margin-top: 0;
}

.Bl-bullet {
  list-style-type: disc;
}
.Bl-column {
  list-style-type: none;
}
.Bl-dash, .Bl-hyphen {
  list-style-type: '– ';
}
.Bl-inset, .Bl-diag {
  list-style-type: none;
}
.Bl-enum {
  /* no need, ".Bl -enum" will be <OL> lists anyway */
  /* list-style-type: decimal; */
}
.Bl-item {
  padding-inline-start: 0;
}
.Bl-tag, .Bl-hang, .Bl-ohang  {
  list-style-type: none;
  text-indent: -40px;  /* default UL > LI margin-left */
}

.kernel-config-declaration {
  white-space: pre;
  font-family: monospace;
}

.D1 {
  padding-inline-start: 1em;
}
.Dl, .Ql, .Qo {
  white-space: pre;
  font-family: monospace;
}
.Li {
  font-family: monospace;
}

.Tn {
  font-variant: small-caps;
}

.font-B {
  font-weight: bold;
}
.font-I {
  font-style: italic;
}
.font-C /* \f(CW */ {
  font-family: monospace;
}
.font-S /* \f(SM */ {
  font-variant: small-caps;
}

.Xr {
  text-decoration: dotted underline;
}

.EX {
  /* TODO block? */
  white-space: pre;
  font-family: monospace;
}
